<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
<compilation debug="false" targetFramework="4.5">
      <assemblies>
        <remove assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
  </compilation>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="max-age=300, must-revalidate" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="300000000">
          <headerLimits>
            <add header="Content-type" sizeLimit="100" />
          </headerLimits>
        </requestLimits>
      </requestFiltering>
    </security>
    <modules>
      <remove name="HttpContextDispose" />
      <remove name="TeamLabAffilateModule" />
    </modules>
    <defaultDocument enabled="true">
        </defaultDocument>
    <httpErrors errorMode="Detailed" />
    <rewrite>
      <rules>
                <remove name="rewrite-blog-lang" />
          <rule name="Main Rule" stopProcessing="true">
              <match url=".*" />
              <conditions logicalGrouping="MatchAll">
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
              </conditions>
              <action type="Rewrite" url="index.php" />
          </rule>
          <rule name="wp super cache" stopProcessing="true">
                <match url="(.*)" />
                <conditions logicalGrouping="MatchAll">
                    <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    <add input="{QUERY_STRING}" pattern=".*=.*" negate="true" />
                    <add input="{QUERY_STRING}" pattern=".*attachment_id=.*" negate="true" />
                    <add input="{HTTP_COOKIE}" pattern="^.*(comment_author_|wordpress|wp-postpass_).*$" negate="true" />
                    <add input="{HTTP_USER_AGENT}" pattern="^.*(2.0\ MMP|240x320|400X240|AvantGo|BlackBerry|Blazer|Cellphone|Danger|DoCoMo|Elaine/3.0|EudoraWeb|Googlebot-Mobile|hiptop|IEMobile|KYOCERA/WX310K|LG/U990|MIDP-2.|MMEF20|MOT-V|NetFront|Newt|Nintendo\ Wii|Nitro|Nokia|Opera\ Mini|Palm|PlayStation\ Portable|portalmmm|Proxinet|ProxiNet|SHARP-TQ-GX10|SHG-i900|Small|SonyEricsson|Symbian\ OS|SymbianOS|TS21i-10|UP.Browser|UP.Link|webOS|Windows\ CE|WinWAP|YahooSeeker/M1A1-R2D2|iPhone|iPod|Android|BlackBerry9530|LG-TU915\ Obigo|LGE\ VX|webOS|Nokia5800).*" negate="true" />
                    <add input="{DOCUMENT_ROOT}/wp-content/cache/supercache/{HTTP_HOST}/{R:1}index.html" matchType="IsFile" />
                </conditions>
            <action type="Rewrite" url="wp-content/cache/supercache/{HTTP_HOST}/{R:1}index.html" />
            </rule>
			<rule name="wordpress" patternSyntax="Wildcard">
				<match url="*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
				<action type="Rewrite" url="index.php" />
			</rule>
        <rule name="rewrite-blog-lang" stopProcessing="true">
            <match url="(.*)" />
            <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                <add input="{QUERY_STRING}" pattern=".+" negate="true" />
                <add input="{URL}" pattern="/(de|fr|es|ru|lv|it|en|cs)/blog(/.*)?(#.*)?" />
            </conditions>
            <serverVariables />
            <!--<action type="Rewrite" url="http://{HTTP_HOST}/blog/{C:2}?lang={C:1}{C:3}" appendQueryString="false" logRewrittenUrl="false" />   -->
            <action type="Rewrite" url="http://{HTTP_HOST}/blog/{C:1}{C:2}?{C:3}" appendQueryString="false" logRewrittenUrl="false" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="rewrite-blog-lang-outbound-common" preCondition="ResponseIsHtml" enabled="true">
          <match filterByTags="A" pattern="/blog/(.*)\?lang=(de|fr|es|ru|lv|it)(.*)?" />
 	  <conditions trackAllCaptures="true">
  	  	<add input="{HTTPS}s" pattern="on(s)|offs" />
	  </conditions>
          <action type="Rewrite" value="http{C:1}://{HTTP_HOST}/{R:2}/blog/{R:1}?{R:3}" />
        </rule>
        <rule name="rewrite-blog-lang-outbound-common-trim" preCondition="ResponseIsHtml" enabled="true" stopProcessing="true">
          <match filterByTags="A" pattern="(.*)(?:/\?)$" />
          <action type="Rewrite" value="{R:1}" />
        </rule>
        <preConditions>
          <preCondition name="ResponseIsHtml">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
    <urlCompression doDynamicCompression="false" />
  </system.webServer>
</configuration>
